{{ define "main" }}
  {{ partial "title.html" . }}
  <div class="prose prose-neutral mx-auto mb-16 mt-12 max-w-screen-md px-6 dark:prose-invert">

 

   <figure class="bg-slate-100 rounded-xl p-8 dark:bg-slate-800">
    <img class="w-40 h-40  rounded-full mx-auto" src="/static/img/logo.png" alt="">
      <div class="pt-6 md:p-8 text-center md:text-left space-y-4">
        <blockquote>
          <p class="text-lg font-medium">
            
Soy un fotógrafo principiante con una pasión vibrante por congelar momentos significativos a través de mi lente. Mi fascinación se divide entre dos mundos fascinantes: la fotografía deportiva y la de naturaleza. Cada disparo en el ámbito deportivo busca capturar la intensidad, la emoción y la destreza de los atletas en acción, congelando esos instantes fugaces que cuentan historias apasionantes.

En el terreno de la fotografía de naturaleza, me sumerjo en la majestuosidad y la serenidad del entorno natural.

En mis ratos libres, me aventuro en la fotografía de retrato. 

Como fotógrafo principiante, mi viaje está marcado por la constante exploración y aprendizaje. Aunque estoy en las primeras etapas de mi carrera, mi dedicación y entusiasmo se reflejan en cada imagen que capturo. 
          </p>
        </blockquote>
        <figcaption class="font-medium">
          <div class="text-sky-500 dark:text-sky-400">
            Víctor Rubio Ibáñez
          </div>
          <div class="text-slate-700 dark:text-slate-500">
            Fotografía
          </div>
        </figcaption>
      </div>
    </figure>
  </div>
{{ end }}
