<footer class="mx-auto grid grid-flow-col gap-4 p-10 text-sm text-[--text-2]">
    <div class=" social-media col-lg-6 ">
      <ul class="list-inline text-lg-right mt-3 mt-lg-0">
        <li class="list-inline-item">
          <a target="_blank" href="https://www.instagram.com/victor_r_i/">
            <img src="../social/instagram.svg" />
          </a>
        </li>
        <li class="list-inline-item">
          <a target="_blank" href="https://www.facebook.com/breto.ri.12/">
            <img src="../social/facebook.svg" />
          </a>
        </li>
        
      </ul>
    </div>
  </div>
</footer>
